# Git files
.git
.gitignore

# Build artifacts
haruki-sekai-asset
HarukiSekaiAssetUpdater
*.exe
target/
cricodecs/target/

# Logs
logs/
*.log

# Configuration
haruki-asset-configs.yaml
back.txt

# Data
Data/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
